
.project-card {
  display: flex;
  align-items: center;
  margin: 40px 0;
  gap: 20px;
}

.project-image img {
  border-radius: 8px;
}

.project-text {
  
}

/* BADGES */
.badges img {
  margin-right: 5px;
  margin-top: 5px;
}

/* LIEN */
.see-more {
  font-weight: bold;
  text-decoration: none;
  color: #0366d6;
}

.zoomable {
  cursor: pointer;
  #transition: 0.3s;
}
.zoomable:hover {
  #opacity: 0.8;
}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column; /* Passe en colonne */
    text-align: center;
  }

  .project-text {
    padding-left: 0; /* Supprimer le padding desktop */
  }

  .project-image img {
    width: 100%;
    height: auto;
  }
}
