<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <a href="/" style="
        display: inline-block;
        margin-bottom: 20px;
        padding: 10px 15px;
        background-color: #0366d6;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      ">
        ← Retour au portfolio
      </a>
      
      {{ content }}
      <button onclick="scrollToTop()" id="scrollTopBtn" title="Retour en haut">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V4.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4-.007-.007a.497.497 0 0 0-.697.007l-4 4a.5.5 0 1 0 .708.708L7.5 4.707V11.5A.5.5 0 0 0 8 12z"/>
        </svg>
      </button>
      <footer class="site-footer">
          <span class="site-footer-credits">© 2025 Mattéo Dewaegheneire - Portfolio</span>
      </footer>
    </main>
    <script>
      const lightbox = document.getElementById("lightbox");
      const lightboxImg = document.getElementById("lightbox-img");
      document.querySelectorAll(".zoomable").forEach(img => {
        img.addEventListener("click", () => {
          lightbox.style.display = "flex";
          lightboxImg.src = img.src;
        });
      });
      lightbox.addEventListener("click", () => {
        lightbox.style.display = "none";
      });

      window.onscroll = function() {
        const btn = document.getElementById("scrollTopBtn");
        if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
          btn.style.display = "flex";
        } else {
          btn.style.display = "none";
        }
      };
    
      // Fonction pour remonter
      function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      }
    </script>
  </body>
</html>
